
@import "reset.less";
@import "mixin.less";

/* Site Color */
@site: 			#f7f7f7;
@site-light: 	lighten(@site, 15%);
@site-dark: 	darken(@site, 15%);

/* Base Color (text * borders) */
@base: 				#dddddd;
@base-light: 		lighten(@base, 15%);
@base-dark: 	    darken(@base, 10%);

/* Highlight Color (links, buttons, etc) */
@theme: 			#B6BF80;
@theme-light: 		lighten(@theme, 15%);
@theme-dark: 	    darken(@theme, 10%);

@white: 			#ffffff;
@black:				#000000;

/* Buddhist Tapestry */

@palette1:#DDE0CC;
@palette2:#D9DEBD;
@palette3:#CFD6A7;
@palette4:#C4CC95;
@palette5:#B6BF80;

@import "layout.less";
@import "typography.less";
@import "button.less";


