/* #Typography
================================================== */
a, a:visited { color: @theme-light; text-decoration: underline; outline: 0; }
a:hover, a:focus { color: @theme-dark; }
p a, p a:visited { line-height: inherit; }

h1, h2, h3, h4, h5, h6 {
	color: @theme;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: normal;
}

h1 {
    font-size: 110px;
    line-height: 120px;
    margin-top: 0px;
    margin-bottom: 24px;
}

h2 {
    font-size: 42px;
    line-height: 48px;
    margin-top: 0px;
    margin-bottom: 24px;
}

h3 {
    font-size: 26px;
    line-height: 48px;
    margin-top: 0px;
    margin-bottom: 24px;
}

h4 {
	font-size: 20px;
	line-height: 48px;
	margin-top: 0px;
	margin-bottom: 24px;
}

h5 {
	font-size: 18px;
	line-height: 48px;
	margin-top: 0px;
	margin-bottom: 24px;
}

h6 {
	font-size: 16px;
	line-height: 48px;
	margin-top: 0px;
	margin-bottom: 24px;
}
p, ul {
	margin-top: 0px;
	margin-bottom: 24px;
}
